# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular Open Source Tools for Data Science
* Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. TensorFlow
3. GGPlot

| Data Science Tools |
| ------------------ |
| PostgreSQL         |
| Jupyter            |
| Kafka              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Marcelo Gontijo